<div data-payment-target="additionalFields" data-type="Credit card">
  <div class="field">
    <%= form.label :credit_card_number %>
    <%= form.password_field :credit_card_number %>
  </div>

  <div class="field">
    <%= form.label :expiration_date %>
    <%= form.text_field :expiration_date, size: 9, placeholder: "e.g. 03/24" %>
  </div>
</div>
