<div data-payment-target="additionalFields" data-type="Check">
  <div class="field">
    <%= form.label :routing_number %>
    <%= form.text_field :routing_number %>
  </div>

  <div class="field">
    <%= form.label :account_number %>
    <%= form.password_field :account_number %>
  </div>
</div>
